
{{define "crud" }}
{{template "header" }}
        <div class="document-center">
            <div class="container">
                <div class="options-project" style="display:flex;justify-content: space-between;">
                    <p></p>
                    <a class="btn btn-success" href="./create">Agregar Nuevo</a>
                </div>
                <table class="table-striped table-bordered dataTable no-footer" style="width: 100%;">
                    <thead class="sorting" style="background: #251b1b;color: white;">
                        <tr role="row"><th tabindex="0" style="width: 107px;height:30px">Fecha de publicacion</th>
                        <th tabindex="0" style="width: 321px;">Titulo</th>
                        <th tabindex="0" style="width: 172px;">Autor(es)</th>
                        <th tabindex="0" style="width: 86px;">Descargar</th>
                        <th class="sorting" tabindex="0" aria-controls="tablaUsuarios" rowspan="1" colspan="1" aria-label="Autor(es): activate to sort column ascending" style="width: 113px;">Acciones</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0000-00-0</td>
                            <td>
                                <a href='#'>Título</a>
                                <br>
                            </td>
                            <td>Autor</td>
                            <td class="download-post download-posts">
                                <a target="_blank" href="#"><i class="fa-solid fa-eye"></i></a> <a href="#" download="#"><i class="fa-solid fa-circle-down"></i></a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="/update?id=1"><i class="fa-solid fa-pencil"></i></a>
                                <a class="btn btn-danger" name="delete" direction="id=1" href="#"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/ajax.js"></script>
    </body>
</html>
{{end}}